:root.theme-dark {
  color-scheme: dark;

  /* Основа для цветовых тем */
  --background-color: #000;
  --accent-color: #00CC14;
  --stroke-color: #000;
  --button-text-color: #00CC14;
  --heart-contour-color: #00CC14;

  /* Шрифт */
  --title-font-weight: 785;
  --content-font-weight: 465;

 /* Фон */
  --base-gradient-color-start: #000;
  --surface-gradient-color-start: #007f0c;
  --surface-gradient-color-end: #004306;
  --background-image: 
  repeating-linear-gradient(to right, var(--base-gradient-color-start) 0 2px, var(--base-gradient-color-end) 2px 4px),
  repeating-linear-gradient(to bottom, var(--base-gradient-color-start) 0 2px, var(--base-gradient-color-end) 2px 4px),
  linear-gradient(to bottom, var(--surface-gradient-color-start) 0%, var(--surface-gradient-color-end) 100%);
}

:root.theme-light {
  color-scheme: light;

  /* Основа для цветовых тем */
  --background-color: #fff;
  --accent-color: #000;
  --stroke-color: #fff;
  --button-text-color: #fff;
  --heart-contour-color: #000;

 /* Фон */
  --base-gradient-color-start: #d3d3d3;
  --surface-gradient-color-start: #e7e7e7;
  --surface-gradient-color-end: #1a1a1a;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    /* Основа для цветовых тем */
    --background-color: #000;
    --accent-color: #00CC14;
    --stroke-color: #000;
    --button-text-color: #00CC14;
    --heart-contour-color: #00CC14;

    /* Шрифт */
    --title-font-weight: 785;
    --content-font-weight: 465;
  
   /* Фон */
    --base-gradient-color-start: #000;
    --surface-gradient-color-start: #007f0c;
    --surface-gradient-color-end: #004306;
    --background-image: 
    repeating-linear-gradient(to right, var(--base-gradient-color-start) 0 2px, var(--base-gradient-color-end) 2px 4px),
    repeating-linear-gradient(to bottom, var(--base-gradient-color-start) 0 2px, var(--base-gradient-color-end) 2px 4px),
    linear-gradient(to bottom, var(--surface-gradient-color-start) 0%, var(--surface-gradient-color-end) 100%);
  }
}